* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #0c0c0c;
    color: #adadad;
}

.cabecalho {
    margin: 3% 0 3% 7%;
    display: flex;
    justify-content: space-between;
}

.cabecalho__botao {
    margin-right: 7%;
}


