@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #0c0c0c;
    color: #939393;
}

.cabecalho {
    margin: 3% 0 3% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__nome {
    font-family: 'Playfair Display', serif;
    color: #dedddd;
}

.cabecalho__navegacao__menu {
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.cabecalho__navegacao {
    width: 22%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.cabecalho__botao {
    margin-right: 8%;
    padding: 12px 35px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 15px;
    color: #0c0c0c;
    background-color: #FBE850;
}

.conteudo__textos-entrada {
    margin: 5% 0 0 8%;
    width: 50%;
}

.conteudo__textos-entrada__titulo {
    color: #dedddd;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 2%;
}

.conteudo__textos-entrada__paragrafo {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.conteudo__logomarcas {
    margin: 5% 8% 5% 8%;
    display: flex;
    justify-content: space-between;
}


